{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/hero.html' %}
{% include 'partials/about.html' %}
{% include 'partials/skills.html' %}
{% include 'partials/experience.html' %}
{% include 'partials/projects.html' %}
{% include 'partials/architecture.html' %}
{% include 'partials/certifications.html' %}
{% include 'partials/education.html' %}
{% include 'partials/blog_preview.html' %}
{% include 'partials/contact.html' %}
{% include 'partials/resume_analyzer.html' %}
{% endblock %}
